@import '../../../../assets/styles/variables';

.navbar {
    background-color: $shl-navbar-color;
    color: $shl-main-color;
    height: 3rem;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        color: $shl-background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        width: 100%;
    }
}
