@import './assets/styles/variables';

.app {
    max-width: $shl-max-body-width;
    min-width: $shl-min-body-width;
    padding: 1rem 1rem 0;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid $shl-main-color;
    border-collapse: collapse;
    padding: 1rem;
}

table {
    width: 100%;
}

.table__delete-column {
    width: 0.1rem;
}

.clickable {
    cursor: pointer;
}
