// COLORS

$shl-background-color: white;
$shl-main-color: black;
$shl-navbar-color: rgba(0, 140, 255, 1);
$shl-bought-color: rgba(0, 140, 22, 0.4);
$shl-non-bought-color: rgba(213, 226, 0, 0.4);

// DIMENSIONS

$shl-max-body-width: 1366px;
$shl-min-body-width: 320px;
